$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav{
  margin-top:35px;
}

.card{
  border: 1px solid grey;
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  height: 520px;
  position: relative;

  .cardTitle{
    height: 40px;
    margin-bottom: 2px;
    color: #000 !important;
    :hover{
      color: #eb1478;
    }
  }
  .container{
    padding: 10px;
    width: 100%;
  }
  .bottomCont{
    position: absolute;
    bottom: 0px;
    background: #000;
    color: #fff;
    padding: 10px;
    width: 100%;

    .pieOffset{
      padding-top: 5px;
    }
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.content {
  width: 976px;
  margin: auto;
}

li h4{
  display: inline;
}
