$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav{
  margin-top:35px;
}

//same animations for our cards pretty standard from Angular's examples but nice looking none-the-less
//I'm pretty sure there's a compass mix-in for the vendor prefix stuff as well as block declarations for the comma delimited items, but I need to read the Api again
.fader.ng-enter, .fader.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

.fader.ng-enter.ng-enter-active,
.fader.ng-move.ng-move-active {
  opacity:1;
}

.fader.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}
@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

.card{
  border: 1px solid grey;
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  height: 520px;
  position: relative;

  .cardTitle{
    height: 40px;
    margin-bottom: 2px;
    color: #000 !important;
    :hover{
      color: #eb1478;
    }
  }
  .container{
    padding: 10px;
    width: 100%;
  }
  .bottomCont{
    position: absolute;
    bottom: 0px;
    background: #000;
    color: #fff;
    padding: 10px;
    width: 100%;

    .pieOffset{
      padding-top: 5px;
    }
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.content {
  width: 976px;
  margin: auto;
}

li h4{
  display: inline;
}
